*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #00796b;
}
button {
  background-color: transparent;
  border: 0;
}
/* img {
  width: 100%;
} */
.hammer {
  width: 50px;
  height: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.game__wrap{
  background: center /cover no-repeat url(../img/bg.jpg);
  max-width: 920px;
  width: 95%;
  max-height: 560px;
  height: 60vh;
  margin: 40px auto;
}

.game__header {
  /* background-color: thistle;
  opacity: 0.5; */
  width: 100%;
  height: 50%;
  padding-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.game__start__btn {
  /* border: 4px solid #ec407a; */
  background-color: #ffccbc;
  color: #ff7043;
  width: 60px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.game__timer {
  background-color: #fff;
  border: 2px solid #e0e0e0;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility:  hidden;
}
.clock {
  width: 40px;
  animation: clock 1s infinite;
}
@keyframes clock {
  0%   {transform: rotate(20deg);}
  50%  {transform: rotate(-20deg);}
  100% {transform: rotate(20deg);}
}
.clock.stop {
  animation: none;
}
.game__timer span {
  display: inline-block;
  margin-left: 10px;
}
.game__score {
  background-color: #ef5350;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  visibility:  hidden;
}

.game__start__pop-up {
  background-color: #f3e5f5;
  border: 5px solid #ce93d8;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.game__start__icon {
  margin-top: 15px;
  display: inline-block;
}
.game__start__icon img {
  width: 200px;
}
.game__start__text {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #424242;
}

.game__field {
  /* background-color: tomato; */
  /* opacity: 0.5; */
  width: 100%;
  height: 50%;
  position: relative;
}

.pop-up {
  background-color: #fff3e0;
  border: 3px solid #ffb74d;
  border-radius: 20px;
  width: 400px;
  height: 160px;
  padding: 10px ;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-300px);
  position: relative;
  z-index: 3;
}
.pop-up__refresh {
  background-color: #ffcc80;
  color: #f57c00;
  font-size: 24px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.pop-up__msg {
  display: inline-block;
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #424242;
}
.flower {
  width: 100px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.mole {
  width: 60px;
  transition: transform 300ms ease-in;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.mole:hover {
  transform: scale(1.2);
  
}

.hide {
  display: none;
}
@media screen and (max-width: 800px) { 
  .hammer {display: none;}
}
